header {
    text-align: center;
    background-color: cadetblue;
}

.funcSection {
    background-color: cadetblue;
}

.bg {
    font-size: 25px;
    width: 160px;
    height: 60px;
    background-color: blue;
}

.bg2 {
    font-size: 25px;
    width: 160px;
    height: 60px;
    background-color: lawngreen;
}
.textEditorField{
    visibility: hidden;
}

.left {
    text-align: center;
}

.custom-select {
    position: relative;
    font-family: Arial;
}

    .custom-select select {
        display: none;
    }

.select-selected {
    background-color: DodgerBlue;
}
