
@{
}
<!DOCTYPE html>
<head>
    <link href="~/css/SaveScript.css" rel="stylesheet" />
</head>
<html>
<body>
    @if (ViewBag.Situation < 1) {

        <h2>Your script was deleted successfully!</h2>     
    } else if (ViewBag.Situation == 1) {

        <h2>Something went wrong, the script was not deleted! </h2>
    }
</body>
</html>
