

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/css/IDEIndex.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <!-- Optional JavaScript -->
    <!--<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>-->
    @*<script src="~static/src-min/ace.js" type="text/javascript" charset="utf-8"></script>*@
    <script src="~/static/src-min/ace.js"></script>-->
</head>
@{
    ViewBag.Title = "Index";
}
<header>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>MapsPeople Web IDE</h1>
            </div>
        </div>
    </div>
</header>
<html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="left">
                    <div class="custom-select">
                        <select>
                            <option value="0">Choose scripting language</option>
                            <option value="1">Python</option>
                            <option value="2">Ruby</option>
                            <option value="3">JavaScript</option>
                        </select>
                    </div>

                    <p>Or</p>
                    <button class="bg-primary" onclick=" location.href='@Url.Action("OpenScripts", "IDE" )'">Open a list of scripts</button>

                    <p>Save this script</p>
                    <button class="bg-success" onclick=" location.href='@Url.Action("SaveScript", "IDE" )'">Save script</button>
                </div>
            </div>
            <div class="col-8">
                <div class="right">
                    This is where the text editor should be
                    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                            crossorigin="anonymous"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                            crossorigin="anonymous"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                            crossorigin="anonymous"></script>
                    <script src="~/static/src-min/ace.js"></script>
                    <script>
                        // initialize the content of the text editor to some Javascript
                        $("#editor").text(`function echo(m) {\n\treturn m;\n}\nconsole.log(echo("Hello World"));`);

                        // initialize the editor environment using the ace library
                        var editor = ace.edit("editor");
                        editor.session.setMode("ace/mode/javascript"); // editor language
                        editor.setTheme("ace/theme/dawn"); // editor theme
                        editor.session.setTabSize(4);
                        editor.session.setUseWrapMode(true);

                        // Override default console functions for our custom Dev Console
                        (function () {
                            // store default console functionality before changing them
                            default_log = console.log;
                            default_clear = console.clear;
                            default_error = console.error;
                            default_warn = console.warn;

                            console.log = function (...args) {
                                for (let arg of args) {
                                    if (typeof arg == 'object') {
                                        $("#console").append((JSON && JSON.stringify ? JSON.stringify(arg, undefined, 2) : arg) + ' ');
                                    } else {
                                        $("#console").append(arg + ' ');
                                    }
                                }
                                // Console prompt
                                $("#console").append('\n&raquo;  ');

                                // So console is always scrolled to the bottom
                                $("#console").get(0).scrollTop = $("#console").get(0).scrollHeight;

                                // Allow the default console action to happen
                                default_log(...args)
                            }
                            console.error = function (e) {

                                $("#console").append("Error: " + e);

                                // Console prompt
                                $("#console").append('\n&raquo;  ');

                                // So console is always scrolled to the bottom
                                $("#console").get(0).scrollTop = $("#console").get(0).scrollHeight;

                                // Allow the default console action to happen
                                default_error(e)
                            }
                            console.warn = function (w) {
                                $("#console").append("Warning: " + w);

                                // Console prompt
                                $("#console").append('\n&raquo;  ');

                                // So console is always scrolled to the bottom
                                $("#console").get(0).scrollTop = $("#console").get(0).scrollHeight;

                                // Allow the default console action to happen
                                default_warn(w)
                            }
                            console.clear = function () {
                                // Console prompt
                                $("#console").html("&raquo;  ");
                                // Allow the default console action to happen
                                default_clear();
                            }
                            clear = console.clear;
                        })();

                        // For our custom clear and execute shortcuts Ctrl-Enter and Ctrl-I
                        function kbd(e) {
                            if (e.key === "i") console.clear();
                            if (e.key === "Enter") eval(editor.getValue());
                        }

                        window.addEventListener('keydown', function (e) {
                            if (e.key === "Control") window.addEventListener('keydown', kbd);
                        });
                        window.addEventListener('keyup', function (e) {
                            if (e.key === "Control") window.removeEventListener('keydown', kbd);
                        })
                        // For phones and devices without a control key
                        $("[action]").get(0).addEventListener('click', function () { eval(editor.getValue()); });
                        $("[action]").get(1).addEventListener('click', function () { console.clear(); });
                    </script>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
