<!DOCTYPE html>
<html>
<head>
    <style src="~/Styles/css/IDEIndex.css"></style>

</head>
    @{
        ViewBag.Title = "Index";
    }
<body>
    <div class="head">

        </div>
</body>
    
</html>