@*@{
        Layout = "_Layout";
    }*@

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/css/IDEIndex.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.9/ace.js"></script>
    <script src="~/js/FormValidate.js"></script>

</head>
@{
    ViewBag.Title = "Index";
}
<html>
<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-4 justify-content-center">
                    <p>Open an existing script: <button class="buttonCustom btn-primary shadow-none" onclick="location.href='@Url.Action("OpenScripts", "IDE" )'">Open scripts</button></p>
                    <p>Or start writing a new script:</p>
                    
                    <select class="custom-select" id="box1" onChange="myNewFunction(this);">
                        <option value="0">Choose scripting language</option>
                        <option value="1">Python</option>
                        <option value="2">Ruby</option>
                        <option value="3">JavaScript</option>
                    </select>
                    
                    <form id='saveScript' name='saveScript' action='@Url.Action("SaveScript","IDE")' method="post">
                        <br />
                        <label>ID:</label>
                        <input type="text" name="id" id="id" />
                        <br />
                        <label>Script name:</label>
                        <input type="text" name="scriptName" id="scriptName">
                        <br />
                        <label>Language:</label>
                        <input type="text" name="language" id="language">
                        <br />
                        <label>Version:</label> <input type="text" name="version" id="version" />
                        <br />
                        <label>Date created:</label>
                        <input type="text" name="dateCreated" id="dateCreated" value="@DateTime.Today">
                        <br />
                        <label>Author:</label> <input type="text" name="author" id="author" />
                        <br />
                        <label>Last modified:</label>
                        <input type="text" name="lastModified" id="lastModified" value="@DateTime.Now">
                        <br />
                        <input type="text" name="textEditor" id="textEditor" class="textEditorField">
                        <p>Save this script: <input type="submit" id="submit" value="Save Script" class="buttonCustom btn-success shadow-none" onclick="if ( ! validate()) return false;" language="javascript" /></p>
                    </form>

                    <script>
                        function myNewFunction(element) {
                            var text = element.options[element.selectedIndex].text;
                            document.getElementById("language").value = text;
                        }
                    </script>
                </div>
                <div class="col-8">

                    <textarea name="my-xml-editor" data-editor="xml" data-gutter="1" rows="15" id="text1"></textarea>
                    @*<br>
                        <textarea name="my-markdown-editor" data-editor="markdown" data-gutter="0"></textarea>*@

                    <script>
                        $(function () {
                            $('textarea[data-editor]').each(function () {
                                var textarea = $(this);
                                var mode = textarea.data('editor');
                                var editDiv = $('<div>', {
                                    position: 'absolute',
                                    //width: textarea.width(),
                                    height: textarea.height(),
                                    'class': textarea.attr('class')
                                }).insertBefore(textarea);
                                textarea.css('display', 'none');
                                var editor = ace.edit(editDiv[0]);
                                editor.renderer.setShowGutter(textarea.data('gutter'));
                                editor.getSession().setValue(textarea.val());
                                //editor.getSession().setMode("ace/mode/" + mode);
                                editor.setTheme("ace/theme/dawn");
                                var language = document.getElementById("language")
                                language.onchange = function () {
                                    if (language.value.Equals("Python")) {
                                        editor.session.setMode("ace/mode/python");
                                    }
                                    if (language.value.Equals("Ruby")) {
                                        editor.session.setMode("ace/mode/ruby");
                                    }
                                    if (language.value.Equals("JavaScript")) {
                                        editor.session.setMode("ace/mode/javascript");
                                    }
                                    else {
                                        editor.getSession().setMode("ace/mode/" + mode);
                                    }
                                }

                                // copy back to textarea on form submit...
                                textarea.closest('form').submit(function () {
                                    textarea.val(editor.getSession().getValue());
                                })
                                //var input = document.getElementById('textEditor');
                                //input.onclick = function () {
                                //    var code = editor.getValue();
                                //    input.value = code;
                                //}
                                var submit = document.getElementById('submit');
                                submit.addEventListener("click", foo);
                                function foo() {
                                    var code = editor.getValue();
                                    document.getElementById('textEditor').value = code;
                                }
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
