
@{
}

<!DOCTYPE html>
<head>

</head>
<html>
<body>
    <label>Script Name</label> <input type="text" />
    <br />
    <label>Language</label>  <label>Ruby</label>
    <br />
    <label>Version</label> <input type="text" />
    <br />
    <label>Date Created</label> <label>@DateTime.Now</label>
    <br />
    <label>Author</label> <input type="text" />
    <br />
    <label>Last Modified</label> <label>@DateTime.Now</label>
    <br />
    <button class="bg" onclick=" location.href='@Url.Action("Index", "IDE" )'">Save script</button>

</body>
</html>
