@model Models.Script
@{
}
<!DOCTYPE html>
<head>
</head>
<html>
<body>
    <table id="table" border="1">
        <tr>
            <th>Last result</th>
            <th>Has error</th>
        </tr>
        <tr>
            <td>@Model.LastResult</td>
            <td>@Model.HasErrors</td>
        </tr>
        </table>
    </body>
</html>